// fonts for bcd
// Fontawesome is capable of mixins and hence included via sass (see: vendor/fontawesome)


/* titillium-web-300 - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'),
  url('../fonts/titillium-web-v7-latin-300.woff2') format('woff2');
}
/* titillium-web-regular - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
  url('../fonts/titillium-web-v7-latin-regular.woff2') format('woff2');
}
/* titillium-web-600 - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'),
  url('../fonts/titillium-web-v7-latin-600.woff2') format('woff2');
}
/* titillium-web-700 - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'),
  url('../fonts/titillium-web-v7-latin-700.woff2') format('woff2');
}
/* titillium-web-900 - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 900;
  src: local('Titillium Web Black'), local('TitilliumWeb-Black'),
  url('../fonts/titillium-web-v7-latin-900.woff2') format('woff2');
}