/*********************************************************************************************************************/
/* bootstrap switch from rem to em
/*********************************************************************************************************************/

$bcd-font-size-base:          1em !default;
$h1-font-size:                $bcd-font-size-base * 2.5 !default;
$h2-font-size:                $bcd-font-size-base * 2 !default;
$h3-font-size:                $bcd-font-size-base * 1.75 !default;
$h4-font-size:                $bcd-font-size-base * 1.5 !default;
$h5-font-size:                $bcd-font-size-base * 1.25 !default;
$h6-font-size:                $bcd-font-size-base !default;

.form-control,
.btn {
  font-size: $bcd-font-size-base;
}

.bcd__sidebar-right__inner .form-group,
.bcd__sidebar-left__inner .form-group {
  margin-bottom: .5em;
  width: 100%;
  display: inline-block;
}

/*********************************************************************************************************************/
/* 80% on smaller screens */
/*********************************************************************************************************************/

@media (max-width: 1366px) {
  html>body {
    font-size: 0.8rem;
  }
}

/*********************************************************************************************************************/
/* general classes */
/*********************************************************************************************************************/

:invalid { box-shadow: none; }
:-moz-submit-invalid { box-shadow: none; }
:-moz-ui-invalid { box-shadow:none; }
::-ms-clear { display: none; }
*[disabled] { color: $text-disabled-color !important; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.bcdItalic {
  font-style: italic;
}

.bcdClosed,
.bcdHidden {
  display: none !important;
}

.bcdDisabled {
  text-decoration: none !important;
  color: $text-disabled-color !important;
  cursor: default !important;
}

.bcdInvalid {
  background-color: $invalid-color !important;
  color: text-contrast($invalid-color) !important;
}

@mixin bcdSelected($important:false) {
  @if $important == true {
    background-color: $select-color !important;
    color: $text-color-bright !important;
    border-color: $corporate-color-alt !important;
  }
  @else {
    background-color: $select-color;
    color: $text-color-bright;
    border-color: $corporate-color-alt !important;
  }
}

.bcdSelected {
  @include bcdSelected();
}

.bcdPlaceholder,
.bcdClearOption,
.bcdInputEmptyValue {
  color: lighten($text-color-dark, 50%) !important;
}

.statusNotReady,
.bcdLoading {
  background: url("../images/loading.gif") top left no-repeat;
}

/* indicating a component is busy and not ready to receive a user input */
.bcdIsBusy {
  cursor: wait;
}

/* deprecated; remove this since h1 is defined to be the ultimate title (html best practices) */
.bcdTitle {}

/*********************************************************************************************************************/
/* buttons */
/*********************************************************************************************************************/

.bcdButton {
  @extend .btn; // extend BS-default button
  background-color: $corporate-color;
  border-color: $corporate-color;
  font-weight: 600;
  padding: .4em 1.4em;
  cursor: pointer;
}
.bcdButton a {
  color: text-contrast($corporate-color);
}

#bcdDropDownButton {
  position: absolute;
  z-index:  $z-index-flyover;
}
#bcdDropDownButton {
  ul {
    padding: 0;
    margin: 0 0 0 -1.4em;
    list-style-type: none;
    li {
      margin-top: 0.1em;
    }
  }
}

/*********************************************************************************************************************/
/* Flyovers */
/*********************************************************************************************************************/

#bcdAutoCompletionBox,
#bcd_widget_suggestInput_dataList,
#bcdChartToolTip,
#bcdTooltipDiv {
  position: absolute;

  /* from bcd__form-control */
  background-color: #fff;
  color: #495057;
  padding: .3em .7em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid $border-color;
}

#bcdWidgetBalloon {
  @include con_color($flyover-color);
  border: 1px solid $border-color;
  z-index: $z-index-balloon;
  position: fixed;
  padding: .5em;
  @include alpha(0.95);
  @include shadow();
}


#bcd_widget_suggestInput_dataList,
#bcdAutoCompletionBox {
  z-index: $z-index-autocomplete;
  height: 10em;
  overflow: auto;
}

#bcdChartToolTip,
#bcdTooltipDiv {
  z-index: $z-index-flyover;
}
.ui-dialog {
  z-index: $z-index-flyover - 1;
}

#bcd_widget_suggestInput_dataList {
  overflow-y: auto;
  div {
    white-space: nowrap;
    .bcdOptionIsHovered, .bcdOptionIsSelected {
      @include bcdSelected();
    }
  }
}

/*********************************************************************************************************************/
/* inputField Widget */
/*********************************************************************************************************************/

.bcdSuggestMatchPart {
  font-weight: bold;
}

.bcdComboInputField {
  position: relative;

  .form-control {
    padding-right: 2.5em;
    font:400 1em/1.5 $font-family-default;
  }

  @extend %fa-icon;
  @extend .fas;

  span {
    &:after {
      content: "\25BC";
      font-size:.5em;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 2.2em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}

/*********************************************************************************************************************/
/* single / multiSelect Widget */
/*********************************************************************************************************************/

.bcdMultiSelect select {
  height: inherit;
  padding: 0 0 0 .6em;
}

.bcdSingleSelect,
.bcdMultiSelect {
  display: block;
  input[type='radio'],
  input[type='checkbox'] {
    margin: 0.2em;
  }
}

/*********************************************************************************************************************/
/* dim chooser */
/*********************************************************************************************************************/

.bcdDimensionChooser {
  table {
    border-collapse: separate;
   tbody tr td  {border: none; padding: 0; margin: 0; } 
  }

  div.bcdChooserCaption, div.bcdChooserCaptionFixed { display: none; }

  .bcdAdd { margin-right: 0.2em; }
  .bcdRemove { margin-left: 0.2em; }

  .bcdButton {
    @extend .btn-secondary;
    background-color: $secondary-button-color;
    border-color: $secondary-button-color;
    padding: .187em .38em;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  select {
    overflow-y: auto;
  }
}

/*********************************************************************************************************************/
/* Period chooser */
/*********************************************************************************************************************/

.bcdPeriodChooser {

  label:first-child {
    display: block;
  }

  display: block;

  input {
    @extend .form-control;
  }

  .bcdValue {
    font:400 1em/1.5 $font-family-default;
    margin: 0 .375em 0 .375em;
    input { display: inline; text-align: center; padding-left: 0; padding-right: 0; margin: 0 0 0 -.375em; }
    cursor: pointer;
  }
 
  .bcdPostfix {
    display: block;
    margin-bottom: 0.2em;
  }

  .bcdButton {
    @extend .btn-secondary;
    background-color: $secondary-button-color;
    border-color: $secondary-button-color;

    padding: .375em .75em;
    a {
      color: inherit;
      text-decoration: none;
      margin-right: .375em;
    }
    &:after {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-calendar);
      background-color: $text-color;
    }
    &:hover {
      background-color: $secondary-button-color-hover;
      border-color: $secondary-button-color-hover;
    }
  }
  
  .bcdPeriodChooserModLeft {
    margin-top: 0.2em;
    @extend .btn;
    @extend .btn-secondary;
    background-color: $secondary-button-color;
    border-color: $secondary-button-color;
    &:after {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-chevron-left); text-decoration: none; cursor: pointer;
    }
  }
  .bcdPeriodChooserModRight {
    margin-top: 0.2em;
    @extend .btn;
    @extend .btn-secondary;
    background-color: $secondary-button-color;
    border-color: $secondary-button-color;
    &:after {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-chevron-right); text-decoration: none; cursor: pointer;
    }
  }

  .bcdHint { display: none; }
  .bcdHr {
    margin: 0.2em; 
    hr { display: none; }
  }

  .bcdClearButton {
    @extend .btn;
    @extend .btn-secondary;
    background-color: $secondary-button-color;
    border-color: $secondary-button-color;
    padding: .375em .75em;
    cursor: pointer;
    &:after {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-times);
    }
  }
  
  .bcdHour { width: 1.7em; border-right-style: none; text-align: center; }
  .bcdTimeMiddle { border-right-style: none; }
  .bcdMinute, .bcdSecond { width: 1.7em; border-left-style: none; text-align: center; }
  .bcdDateTimeDelimiter  { width: 0.8em; border-style: none; text-align: center; background-color: #fff; display:inline;}
  .bcdDateTimeDelimiter, .bcdDateDelimiter { width: 0.8em; border-right-style: none;  border-left-style: none; border-radius: 0; background-color: inherit !important;}
  .bcdHour, .bcdDay { width: 1.7em; border-left-style: none; border-radius: 0 .25em .25em 0; }
  .bcdHour, .bcdMonth { width: 1.7em; border-right-style: none; border-left-style: none; border-radius: 0; }
  .bcdYear { width: 2.9em; border-right-style: none; border-radius: .25em 0 0 .25em;  }

  .bcdInvalid {
    background-color: inherit !important;
    input { background-color: $invalid-color !important; color: text-contrast($invalid-color) !important;}
  }
}

#bcdCalendar {

   z-index: $z-index-flyover !important;

   img {
     display: none;
   }
   
   span.changeLeft:after { content: "\25C4"; }
   span.changeRight:after { content: "\25BA"; }
   td.calCloseImage {
     text-align: right;
   }
   span.calCloseImage {
     &:after { content: "\2716"; cursor: pointer; padding: 0.3em}
   }
   span.changeYear:after, span.changeMonth:after { content: "\25BC"; }
   
   @extend .noselect;
   
   .popupContentTable {
     font-family: inherit !important;
     font-size: inherit !important;
     td { text-align: right; text-decoration: none; }
     .popupToday {
      color: #CC0000 !important;
      font-weight: bold !important;
    }
   }
   
  .weekListSelectionHover,
  .weekListSelectionHover a,
  .popupSelectBoxHover {
 	  @include bcdSelected();
  }
   
  tr.popupBaseColor {
    table {
      width: 100%; 
      td span {
        color: $text-color;
      }
    }
  }

   #selectMonth, #selectYear,
  .popupBaseColor {
    background-color: #f6f6f6;
    font-family: inherit !important;
    font-size: inherit !important;
    border: 1px solid $border-color;
  }

  .popupBaseColor {
    table td {
      font-family: inherit !important;
      font-size: inherit !important;
      padding: 0 0.3em;
    }
  }

  .popupStyle, .popupStyleOver, .calCloseImage {
    cursor: pointer;
  }
}

/*********************************************************************************************************************/
/* tabs */
/*********************************************************************************************************************/

.bcdTab {
   ul {
     padding: 0;
     margin: 0 0 0.1em 0;
   }
   li {
     display: inline-block;
     a {
       border: 1px solid $border-color;
       border-radius: $border-radius-small $border-radius-small 0 0;
       border-bottom-style: none !important;
       @include con_color($control-color);
       padding: 0 .75em;
     }
     a:hover {
       @include con_color($border-color);
     }
     a.bcdActive {
       @include con_color(#FFFFFF);
       font-weight: bold;
       padding-bottom: 0.1em;
     }
   }
}

.bcdTabItem {
  margin: 1em;
}

.bcdTabDefinition {
  border: 1px solid $border-color;
  border-radius: 0 $border-radius-small 0 0;
  @include con_color(#FFFFFF);
}


/*********************************************************************************************************************/
/* cube dnd */
/*********************************************************************************************************************/

.bcdScorecardDndMatrix,
.bcdCubeDndMatrix {

  background-color: #fff;

  .grid_24 {
     @extend .row;
     @extend .no-gutters;
   }
  .grid_5, .grid_3 { @extend .col; height: 20em; border: 1px solid $border-color;}

  .bcdDimensionList, .bcdMeasureList, .bcdKpiList {
    height: 90%;
  }

  .bcdScDimensionList, .bcdAspectList {
    height: 40%;
  }
  .bcdCurrentColDimensionList, .bcdCurrentMeasureList, .bcdCurrentRowDimensionList, .bcdCurrentColMeasureList, .bcdCurrentKpiList, .bcdCurrentAspectList {
    padding-bottom: 1em;
  }
  .bcdCurrentColDimensionList, .bcdCurrentMeasureList, .bcdCurrentScColDimensionList, .bcdCurrentAspectList {
    height: 50%;
  }
  .bcdCurrentColDimensionList, .bcdCurrentScColDimensionList {
    border-bottom: 1px solid $border-color;
  }
  .bcdCurrentMeasureList, .bcdCurrentAspectList {
    border-top: 1px solid $border-color;
  }
  
  .bcdHeader {
    height: 10%;
    padding: .3em;
    background-color: #ffffff;
    color: $text-color;
    border: none;
    font-size: .8em
  }

  div {
    position: relative;
  }
  
  ul {
    &:after {
      font-size: 0.8em;
      bottom: 0;
      left: 0.3em;
      position: absolute;
      @include alpha(0.75);
      color: $text-color;
      z-index: 0;
    }
  }

  .bcdConnectable {
    .bcdItem { display: inline-block; width: 100%; }
  }

  .bcdDropTarget { background-color: $border-color; }

  .ui-sortable-placeholder, .ui-selectee {
    padding: .3em;
    margin: .1em 0 .1em 0;
    list-style-type: none;
  }
  .ui-selectee {
    @include con_color($cube-color-item);
    z-index: 1;
  }
  .ui-sortable-placeholder {
    height: 1em + .3em + .3em;
  }
  
  .ui-sortable-helper {
    &:after { content: ""; }
  }
}

.bcdCubeDNDBlind {
  .bcdButton { 
    margin-top: .3em;
  }
}

.total {
  background-color: #ffffff;
  color: $corporate-color-alt;
  font-weight: bold;
  border-color:$corporate-color-alt;
}

.bcdReport {
  td {
    text-align: right;
  }
  th {
    white-space: nowrap;
  }
  thead {
    th {
      text-align: right;
    }
    th.bcdDimension {
      text-align: left;
    }
  }

  thead .bcdTotal {
    @extend .total;
  }

  tbody {
    .bcdTL1, .bcdTL1 td,
    .bcdTL2, .bcdTL2 td,
    .bcdTL3, .bcdTL3 td,
    .bcdTLGe4, .bcdTLGe4 td,
    .bcdTotal {
      @extend .total;
    }
  }
  
  th.bcdVdm, th.bcdVmeas, th.bcdRowCumulate, th.bcdColCumulate, th.bcdRowColCumulate {
    padding-left: 18px;
    background-position: left center;
    background-repeat: no-repeat;
    text-align: left;
    vertical-align: middle;
  }

  th.bcdVdm,  th.bcdVmeas { background-image: url(../images/cube/calc.gif); }
  th.bcdRowCumulate { background-image: url(../images/cube/cum_row.gif); }
  th.bcdColCumulate { background-image: url(../images/cube/cum_column.gif); }
  th.bcdRowColCumulate { background-image: url(../images/cube/cum_row_column.gif); }
  .bcdSortAsc:after { content: "\25B2"; color: $border-color; padding: 2px; }
  .bcdSortDesc:after { content: "\25BC"; color: $border-color; padding: 2px; }

  .bcdTrendUp, .bcdTrendDown {
    font: 1em Monospace;
    color: #ffffff !important;
    text-align: center;
  }
  .bcdTrendUp:before       { background-color: $report-color-ok; content: "\2191" }
  .bcdTrendDown:before     { background-color: $report-color-fail; content: "\2193" }
  .bcdTrendUpBad:before    { background-color: $report-color-fail; content: "\2191" }
  .bcdTrendDownGood:before { background-color: $report-color-ok; content: "\2193" }

  .bcdExpandCollapseButton {
    cursor: pointer;
    padding: 0 .375em 0 .3em;
    @extend .btn-secondary;
    background-color: $secondary-button-color;
    border-color: $secondary-button-color;
    margin-right: .3em;
  }

  .bcdExpandContainer { display:flex; align-items: center;}
  .bcdExpandOriginal { width: 100%; }
}
.bcdReport:not(.bcdTree) {
  .bcdExpand:after { content: "\002B"; }
  .bcdCollapse:after { content: "\2212";}
}

/* treeview specific*/

.bcdReport.bcdTreeReportPi {
  .bcdPlusSpan {
    margin-right: 13px;
  }
  .bcdExpandCollapseButton {
    padding: 0  !important;
    width: 14px !important;
    display: inline-block;
  }
  .bcdIndent1 { padding-left: 24px !important; }
  .bcdIndent2 { padding-left: 43px !important; }
  .bcdIndent3 { padding-left: 62px !important; }
  .bcdIndent4 { padding-left: 81px !important; }
  .bcdIndent5 { padding-left: 100px !important; }
  .bcdIndent6 { padding-left: 119px !important; }
  .bcdIndent7 { padding-left: 138px !important; }
  .bcdIndent8 { padding-left: 157px !important; }
  .bcdIndent9 { padding-left: 176px !important; }
  .bcdIndent10 { padding-left: 195px !important; }
  .bcdIndent11 { padding-left: 214px !important; }
}

.bcdReport.bcdTreeReportPi,
.bcdReport.bcdTreeReport {
  
  .bcdExpandCollapseButton {
    padding: inherit;
    background-color: inherit;
    color: inherit;
    line-height: inherit;
    border: none;
    margin: inherit;
  }
  
  .bcdExpand:after { content: ""; }
  .bcdCollapse:after { content: ""; }
  
  border-spacing: 0 6px;
  border-collapse: separate;
  border: none;
  min-width: 600px;

  thead th {
    background-color: inherit;
    color: inherit;
  }
  
  tr {
    height: 25px;
    vertical-align: middle;
  }
  
  .bcdCaption {
    text-align: left;
  }

  .bcdExpandCollapseButton {
    width: 6px;
    padding: 2px 0 2px 5px;
  }

  .bcdButton {
    @extend .btn-sm;
  }
  
  .bcdLeaf.bcdReportParentOdd td,
  .bcdLeaf.bcdReportParentEven td {
    @include con_color($tree-color-cell-leaf);
    border-color: $tree-color-cell-leaf;
    border-top: 1px solid $tree-color-cell-border;
    border-bottom: 1px solid $tree-color-cell-border;
    border-right-style: none;
    border-left-style: none;
  }
  
  .bcdNoLeaf.bcdReportParentOdd td,
  .bcdNoLeaf.bcdReportParentOdd td,
  .bcdNoLeaf.bcdReportParentEven td,
  .bcdNoLeaf.bcdReportParentEven td {
    border-top: 1px solid $tree-color-cell-border;
    border-bottom: 1px solid $tree-color-cell-border;
    border-right-style: none;
    border-left-style: none;
  }
  .bcdLevel0.bcdNoLeaf td {
    @include con_color($tree-color-cell);
   }
  .bcdLevel1.bcdNoLeaf td {
    @include con_color($tree-color-cell_l1);
   }
  .bcdLevel2.bcdNoLeaf td {
    @include con_color($tree-color-cell_l2);
   }
  .bcdLevel3.bcdNoLeaf td {
    @include con_color($tree-color-cell_l3);
  }
}

.bcdExpand .bcdButton a:after {
  content: "\002B";
}
.bcdCollapse .bcdButton a:after {
  content: "\2212";
}

.bcdTargetLocked :after,
.bcdLocked :after{
  content: "\1F512";
  position: absolute;
  right: 0;
  top: 0;
}

.bcdOptions :after{
  content: "\2261";
  position: absolute;
  right: 0;
  top: 0;
}

.bcdOptionsActive :after{
  color: $select-color;
}

/*********************************************************************************************************************/
/* blind up dpwn */
/*********************************************************************************************************************/

/* blind up down */

.bcdBlindUpDown {
  @extend .noselect;
  > ul {
    list-style: none;
    padding: 0;
    > li {
      padding: 0.3em;
      border: 1px solid $border-color;
    }
  }

  .bcdBlindUpDownHead {
    @include con_color($control-color);
    position: relative;
    cursor: pointer;
    .bcdBlindUpDownClose {
      position: absolute;
      @extend %fa-icon;
      @extend .fas;
      padding-right: 0.3em;
      right: 0;
    }
  }

  .bcdHeadClosed > span.bcdBlindUpDownClose:after {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-caret-down);
  }

  .bcdHeadOpened > span.bcdBlindUpDownClose:after {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-caret-up);
  }
}


/*********************************************************************************************************************/
/* connectable */
/*********************************************************************************************************************/

.bcdConnectable {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  overflow: auto;
  list-style-type: none;
  height: 100%;
  width: 100%;
  margin: 0;
  li { position: relative; cursor: default;}
  .bcdItem { cursor: pointer; }
  .ui-selected {
    @include bcdSelected();
  }
  .bcdConnectableHover {
    @include con_color($connectable-hover);
  }
  .ui-selecting {
    @include bcdSelected(true);
  }
  li.ui-node-expanded > .ui-node-handle:after {
    content: url(../images/tree/tree_minus.gif)
  }
  li.ui-node-collapsed > .ui-node-handle:after {
    content: url(../images/tree/tree_plus.gif)
  }
  li.ui-node {
    font-style: italic;
  }
  li.ui-leaf {

  }
  .ui-node-handle {
    margin: .2em;
  }
}
.ui-sortable-helper {
  padding: .3em;
  margin: .1em 0 .1em 0;
  width: auto !important;
  height: auto !important;
  border: 1px dotted $border-color-dark;
  @include con_color($border-color);
  cursor: move;
  list-style-type: none;
}
.ui-selectable-helper {
  @include alpha(0.25);
  background-color: lighten($select-color, 10%);
  border: 1px dotted $select-color;
}
.bcdNoTop { border-top: none !important; }
.bcdNoLeft { border-left: none !important; }
.bcdNoBottom { border-bottom: none !important; }
.bcdNoRight { border-right: none !important; }


/*********************************************************************************************************************/
/* side by side chooser */
/*********************************************************************************************************************/

.bcdSideBySideChooser {

  table {
    border-collapse: separate;
    td, th {border: none; padding: 0; margin: 0; } 
  }

  @extend .noselect;

  .bcdSbscTargetItemsHeader,
  .bcdSbscSourceItemsHeader {
    font-weight: bold;
  }
  .bcdSbscList {
    @include con_color(#ffffff);
    border: 1px solid $border-color;
    height: 10em;
    width: 20em;
    padding: .375em .75em;
    margin: 0;
    overflow: auto;
    list-style-type: none;

    div:hover {
      @include con_color($border-color);
    }

    li { padding: 0; position: relative; cursor: default;}
    .bcdItem { display: inline-block; width: 100%; cursor: pointer; white-space: normal;}

    .ui-node-expanded .bcdItem { width: auto; }
    .ui-node-collapsed .bcdItem { width: auto; }

    .ui-selected {
      @include bcdSelected();
    }
    .bcdSbscHover, .ui-selecting { @include con_color($border-color); }
  }

  .bcd-sbs-controls {
     @extend %fa-icon;
     @extend .fas;
    .bcdToSource a:after { content: fa-content($fa-var-angle-double-left);}
    .bcdToMainTarget a:after {content: fa-content($fa-var-angle-double-right); }
    .bcdMoveUp a:after { content: fa-content($fa-var-caret-up); }
    .bcdMoveDown a:after { content: fa-content($fa-var-caret-down); }
    .bcdButton {
      display: block;
      margin: .2em;
      @extend .btn-secondary;
      background-color: $secondary-button-color;
      border-color: $secondary-button-color;
      padding: .375em .75em;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

/* context menu */
#bcdContextMenuDiv {
  @extend .noselect;
  left: 0;
  top: 0;
  position: absolute;
  border: 1px solid $border-color;
  @include con_color(#FFFFFF);
  cursor: default;
  font-size: 0.75em;
  padding: .2em;
  @include alpha(0.95);
  @include shadow();
  width: 22em;
  z-index: $z-index-flyover;
  padding-bottom: .5em;
  
  .bcdMenuitems {
    @include con_color(#FFFFFF);
    position: relative; /* IE8 */
    padding: .125em 1em;
    white-space: nowrap;
    display: block;
    text-decoration: none;
  }
  
  .bcdMenuitemsDisabled {
    position: relative; /* IE8 */
    padding: .125em 1em;
    white-space: nowrap;
    display: block;
    text-decoration: none;
    color: $text-disabled-color;
  }
  
  .bcdMenuitems:hover {
    position: relative; /* IE8 */
    @include bcdSelected();
  }
  
  div.bcdContextMenu .bcdContextMenuTitle {
 	  @include bcdSelected();
    font-weight: bold;
    border: 1px solid $border-color;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .2em;
  }
  
  div.bcdContextMenu .bcdContextGroupHeader ~ .bcdContextGroupHeader {
    margin-top: .5em;
  }
  
  div.bcdContextMenu .bcdContextGroupHeader {
    background-color: $control-color;
    border: 1px solid $border-color;
    font-weight: bold;
    margin-top: .125em;
    margin-bottom: .125em;
    padding-left: .125em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .bcdContextGroupHeader + .bcdContextSubHeader {
    margin-top: .125em;
  }
  
  div.bcdContextMenu .bcdContextSubHeader {
    color: $select-color;
    background-color: inherit;
    position: relative; /* IE8 */
    padding: 0 0 0 .8em;
    white-space: nowrap;
    display: block;
    text-decoration: none;
    font-weight: bold;
    border: none;
    margin-top: .5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  div.bcdContextMenu hr { border-style: solid; border-width: 1px; color: #000000; height: 1px; }
  
  
  div.bcdContextMenu a.bcdMenuitems {
    white-space: normal;
  }
}

/* BlockUI */
.blockUI.blockMsg.blockPage {
  font-size: 1.25em;
}

/* column filter */

.bcdFilterContainer { display: flex; align-items: center;}
.bcdFilterOriginal { width: 100%;}
.bcdFilterButton {
  background: inherit;
  border-radius: 2px;
  border: 1px solid $border-color;
  color: $border-color;
  font-size: 1em;
  margin-left: .375em;
  padding: .2em;
}
.bcdFilterButton.active {
  border: 1px solid $select-color;
  color: $select-color;
  background-color: inherit;
}
.bcdFilterButton:hover {
  border: 1px solid $border-color-dark;
  color: $border-color-dark;
  cursor: pointer;
}
.bcdFilterButton:before { content: "\25BC"; }

.bcdExportColumnsDialog,
.bcdFilterDialog {
  @include no_shadow();
  border: none;
  min-width: 20em; 
  input, select {width: 100%; margin-bottom: .625em;}
}

.ui-dialog .bcdExportColumnsDialog {
  overflow: hidden;
}

.bcdExportColumnsDialog {

  .bcdButton {
    margin-right: .375em;
  }

  .bcdSideBySideChooser {
    .bcdSbscList { height: 10em; }
    margin-bottom: .625em;
  }
}

.bcdFilterSelection {
  
  .bcdFilterActions {
    position: relative;
    margin-bottom: 3px;
    input { width: auto; margin: 0 3px 0 0; }
    > div { position: absolute; right: 0; top: 0;}
    > div:first-child { left: 0; right: inherit; }
  }

  .bcdButton {
    @extend .btn-secondary;
    background-color: $secondary-button-color;
    border-color: $secondary-button-color;
    padding: .187em .38em;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.bcdFilterMultiSelect {
  height: 15em;
  overflow: auto;
  text-align: left;
  border: 1px solid $border-color;
  padding: .375em;
  div {margin: .375em 0 .375em 0;}
  input {
    width: auto;
    padding: 0;
    margin: 0 .375em;
  }
  .highlight {
 	  @include bcdSelected();
 	  cursor: pointer;
  }
}

.bcdFilterTooltip {
  p { font-weight: bold; padding: 0; margin: 0; }
  ul { list-style-type: none; padding: 0; margin: 0;}
  li { padding: .3em 0 0 .7em; }
}


/* ******************************************************************* */
/* FAR component, FAR configurator                                     */
/* ******************************************************************* */
table.bcd-far-configurator {
  > thead > tr {
    th {
      text-align: center;
      /* color: $headerArea-color; */
      padding: 3px 0;
    }

    th.bcd-far-dims  {
      @include con_color($corporate-color-alt);
    }

    th.bcd-far-sort {
      @include con_color($corporate-color-alt);
    }

    th.bcd-far-meas {
      @include con_color($corporate-color-alt);
    }
  }

  .bcdSideBySideChooser {
    padding: 3px 0;
  }

  td.bcd-far-sort {
    .bcdSideBySideChooser .bcdSbscList {
      height : 7em; /* todo: use grid to layout */
    }
    .bcd-singleselect-empty {
      visibility: hidden;
    }
  }
}

/* universalFilter */
.bcd-unifilter-widget {
  .bcd-unifilter-empty { /* displays empty message */
     text-transform: uppercase;
  }
  .bcd-unifilter-conj-container {
    display: flex;
    flex-direction: row;
    margin: 5px 0;

    .bcd-unifilter-conj-header {
      align-self: center;
      text-transform: uppercase;
      -webkit-transform: rotate(270deg); 
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      transform: rotate(270deg);
      width: 22px;
      text-align:right;
      padding-right: 3px;
    }

    .bcd-unifilter-conj-spacer {
      align-self: stretch;
      background-color: #ccc;
    }
  }

  .bcd-unifilter-operator-container {
    /* dont display '-' for first item */
    .bcd-unifilter-multi-input-container .bcd-unifilter-multi-input-item:first-child .action-remove {
      display: none;
    }
    /* display '+' for last item only */
    .bcd-unifilter-multi-input-container .bcd-unifilter-multi-input-item:not(:last-child) .action-add {
      display: none
    }
  }

  .bcd-unifilter-expression {
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    > span {
      padding-left: 3;
      padding-right: 3px;
    }
    .bcd-unifilter-expression-name {
    }
    .bcd-unifilter-expression-name-nomapping {
      font-style: italic;
      color: $text-disabled-color;
    }
    .bcd-unifilter-expression-type-empty,
    .bcd-unifilter-expression-type-notempty {
      text-transform: uppercase;
    }
    .bcd-unifilter-expression-op {
    }
    .bcd-unifilter-expression-value {
    }
  }

  .bcd-unifilter-creator-container {
    margin-left: 25px;
    padding: 5px;
    border: 1px dashed #ccc;

    .bcd-unifilter-creator-container-closer:hover {
      cursor: pointer;
    }

    .bcd-unifilter-creator-container-closer:after {
      content: "\274C";
    }
  }
}


/* Paging Panel */
.bcdPagingPanel {
  table {
    border: 1px solid $border-color;
    tbody tr td {
      vertical-align: middle;
      text-align: right;
      padding: 0 .375em;
      @include con_color(#FFFFFF);
      select { border: none; }
    }

    .bcdPagingButtonActive,
    .bcdPagingCoutOfElements,
    .bcdPagingButton {
      border: 1px solid $border-color;
      white-space: nowrap;
    }
    .bcdPagingButtonActive,
    .bcdPagingButton {
      cursor: pointer;
    }
    .bcdPagingButtonActive {
 	    @include bcdSelected();
    }
    .bcdPagingSelectAction select { width: auto; }
  }
}

/* Grid and Scheduler */

.bcdGrid.bcdGridDE {
  display: block;
  position: relative;
  font: $font-size-default $font-family-default;
  color: $text-color-dark;
  background-color: inherit;
  @extend .noselect;

  .bcdGridSelection { z-index: 10; }

  .bcdGridTable {
    border-collapse: collapse;
    border-spacing: 0px;
    background-color: $border-color;
    margin-bottom: 10px;

    .bcdGridHeader {
      .bcdSorted_ascending div:first-child:before {
        content: "\25B2";
      }
      .bcdSorted_descending div:first-child:before {
        content: "\25BC";
      }
      .bcdHover {
        color: inherit !important;
        background-color: inherit !important;
        border: inherit !important;
      }
      th {
        @include con_color($grid-color-cell);
        padding: 5px 7px 5px 7px;
        font-weight: bold;
        vertical-align: middle;
        text-align: center;
        border: 1px solid $border-color;
      }
      .bcdReadOnly  {
        color: $text-disabled-color;
      }
    }

    .bcdGridBody {
      display: contents;
      th, td {
        margin:         0px;
        vertical-align: middle;
        text-align:     left;
        white-space:    nowrap;
        overflow:       hidden;
        max-width:      400px;
        border:         1px solid $border-color;
        padding:        3px;

        div {
          overflow:      hidden;
          text-overflow: ellipsis;
          width: 100%;
          height: 100%;
        }
      }
      .bcdEven {
        @include con_color($grid-color-cell-even);
      }
      .bcdOdd {
        @include con_color($grid-color-cell-odd);
      }

      .bcdSelected {
        background-color: inherit;
        color: inherit;
        border: none;
      }
      .bcdReadOnly  {
        color: $text-disabled-color;
      }
      .bcdDeleted {
        text-decoration: line-through;
        color: $grid-action-color;
      }
      .bcdInserted, .bcdModified {
        text-decoration: underline;
        color: $grid-action-color;
      }
    }
  }
}
span.bcdInputFieldGrid {
  margin:         0px;
  padding:        0px;
  vertical-align: top;
  text-align:     left;
  white-space:    nowrap;
  overflow:       hidden;
  border:         none;
  font: $font-size-default $font-family-default;
}
.bcdGridSelection {
  font: $font-size-default $font-family-default;
  position: absolute;
  display: inline-block;
  cursor: default;
  border: 1px dashed $grid-action-color;
  width: 0px;
  height: 0px;
  @include alpha(0.25);
  background-color: lighten($select-color, 10%);
  pointer-events: none;
}
.bcdDragging {
  border-style: dotted;
  cursor: crosshair;
}
.bcdWorking {
  border-style: dashed;
  border: 2px solid $grid-hover-color-border;
  @include con_color($grid-hover-color-body);
  @include alpha(0.5);
}

.bcdHover {
  color: text-contrast($flyover-color) !important;
  background-color: $flyover-color !important;
  border: 1px solid $grid-hover-color-border !important;
}

.bcdGrid tbody .bcdHover td,
.bcdGrid tbody .bcdHover th {
  color: text-contrast($flyover-color) !important;
  background-color: $flyover-color !important;
}

.bcdGrid {

  display: flex;
  flex-direction: column;
  .bcdGridBody, .bcdGridHead, .bcdGridFoot {
    display: flex;
    flex-direction: row;
  }

  .handsontable .htDimmed {
    color: #ccc;
  }

  .bcdPagingPanel select { height: inherit; padding: inherit; }
  .bcdGridFoot .gridAction .bcdButton { margin: 0.5em 0.5em 0 0; }
  .bcdGridHead .gridAction .bcdButton { margin: 0 0.5em 0.5em 0; }
  .bcdGridFoot .bcdPagingPanel { display: inline-block; margin: 0.5em 0 0 0; }
  .bcdGridHead .bcdPagingPanel { display: inline-block; margin: 0 0 0.5em 0; }

  .bcdGroupAction:after { content: "\2212"; }
  .bcdCollapsed.bcdGroupAction:after {content: "\002B";}

  .bcdGroupAction {
    background: inherit;
    border-radius: 2px;
    border: 1px solid $border-color;
    color: $border-color;
    font-size: 1em;
    margin-right: .375em;
    padding: 0 .375em;
    display: inline-block;    
    line-height: 1.3em;
  }
  .bcdGroupAction:hover {
    border: 1px solid $border-color-dark;
    color: $border-color-dark;
    cursor: pointer;
  }

  .handsontable th.bcdClosed, .handsontable td.bcdClosed {border: 0; padding: 0; margin: 0; overflow:hidden;}

  td.bcdKey {}
  th.bcdKey { font-weight: bold; }
  th.bcdKey.ht__highlight { }

  .bcdReadOnly  {
    color: $text-disabled-color;
    font-style: italic;
  }
  .bcdDeleted {
    text-decoration: line-through;
    color: $grid-action-color;
  }
  .bcdInserted, .bcdModified {
    text-decoration: underline;
    color: $grid-action-color;
  }
  
  ul { list-style-type: none; padding: 0;}
  
}

.bcdGridEditor {
  .bcdPeriodChooser .bcdValue {
    width: 100%;
    display: inline-block;
  }
  textarea, input {
    padding: 0 .3em;
  }
  select {
   padding: 0em .3em 0 .1em;
  }
}

.bcdStatusModelEditor {
 .bcdControls {
   text-align: center;
   .bcdButton { margin: 5px; }
 }
 .bcdLoadContainer {max-height: 600px; overflow-y: auto; position: relative; margin: 5px;}
}

.bcdScheduler {
  display: table;
  
  .bcdUTC input {
    margin-right: .3em;
  }
}

.bcdSchedulerHistory {
  span.bcdStatusOk { color: #00cc00; font-weight: bold; }
  span.bcdStatusOk:after { content: "\2713"; padding-left: 5px; } 
  span.bcdStatusBad { color: #cc0000; font-weight: bold; }
  span.bcdStatusBad:after { content: "!"; padding-left: 5px; }
  .bcdPeriodChooser .bcdHr { display: inline; }
  .bcdHistoryApply { margin-top: 1em; }
}
.bcdSchedulerJobs { 
  .openReport {
    font-style: normal;
    text-decoration: underline;
    cursor: pointer;
    color: #2A3AF0;
  }
}

.bcdTooltip.bcdSchedulerHistory {
  max-width: 300px;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

/* cube grouping editor */

#bcdGroupingEditor {
 
 table {
   margin-bottom: 1em;
 }
 
 .bcdClose {
   cursor: pointer;
   position: absolute;
   right: 0;
   top: 0;
 }
 .bcdClose:after {
   content: "\274C";
  }
 .bcdGE_level {
   font-weight: bold;
 }

 .bcdGE_remove .bcdButton, .bcdGE_add .bcdButton {
    @extend .btn-secondary;
    background-color: $secondary-button-color;
    border-color: $secondary-button-color;
  }
  
  .bcdGE_ok {
    margin-right: .3em; 
  }
  .bcdGE_add {
    margin-left: .3em;
  }

  .bcdSideBySideChooser,
  .bcdGroupingEditorList {
    width: 100%;

    li:hover {
      @include con_color($border-color);
    }
  }
  div {text-align: left; }

  .bcdCol4 {
    display: none;
  }
  
  #groupName {
    display:flex;
    .bcdGE_name { width: 100%;
      input { width: 100%; }
    }
    
  }
}

/* Ranking */

.bcdCubeRanking {

  .bcdCubeRankBad {
    width: 12px;
    background: url(../images/cube/warning.png) center center no-repeat;
  }

  span.bcdCubeRemoveRank,
  span.bcdCubeAddRank {
    @extend .btn-secondary;
    background-color: $secondary-button-color;
    border-color: $secondary-button-color;
    padding: .375em .75em;
    display: inline-block;
  }
  span.bcdCubeAddRank:after { content: "\002B"; }
  span.bcdCubeRemoveRank:after { content: "\2212"; }
}

/* Summary */

.bcdDnDSummary {
  ul {
    list-style: initial;
    border: none;
    li {
      padding-left: .375em;
      list-style-position: inside;
      list-style-type: disc;
      li {
        list-style-type: circle;
      }
    }
  }
}

/* Templates */

.bcdReportTemplateList {
  margin-bottom: 0 .375em;
}

.bcdReportTemplates {

  max-width: 48em;

  a {
    @include con_color(#FFFFFF);
    border: 1px solid #FFFFFF;
    padding: .125em;
    text-decoration: none;
    cursor: pointer;
    width: 50%;
    display: inline-block;
    position: relative;
  }

  .bcdReportTemplateButtons {
    border-bottom: 1px solid $border-color;
    padding-bottom: .375em;
  }
  
  .bcdReportTemplatesItemsReadOnly,
  .bcdReportTemplatesItems {
    padding-top: .375em;
  }
  
  .bcdReportTemplateList a.bcdSelected {
 	@include bcdSelected();
    border: 1px dotted $corporate-color-alt;
  }

  .bcdReportTemplatesItemsReadOnly {
    .bcdTemplateItem { color: $text-disabled-color !important; }
  }
  
  .bcdTemplateButton {
    @extend .btn-secondary;
    background-color: $secondary-button-color;
    border-color: $secondary-button-color;
    padding: .375em .75em;
    margin-right: .375em;
    border-radius: 0.25rem;
    display: inline-block;
  }
 .bcdTemplateButton:hover,
  a:hover {
    text-decoration: none;
    @include bcdSelected();
  }

  .bcdReportTemplatesSaveArea {
    border-bottom: 1px solid $border-color;
    padding: .375em;
    
    input, textarea {
      width: 100%;
    }

    table {
      border-collapse: separate;
      border-spacing: .375em;
      margin: .375em;
      width: 100%;
    }
  }

  .bcdTemplateRemove {
    font-weight: bold;
    position: absolute;
    right: .375em;
    top: 0;
  }
  
  span.bcdTemplateRemove:after {
    content: "x";
  }

  span.bcdTemplateIcon:after {
    content: "\25BA";
  }

  .bcdTemplateItem {
    padding-right: .125em;
  }
}

/* jQuery Ui Widget */
.ui-widget {
  font-family: $font-family-default;
}

.ui-widget-overlay {
  background: #ccc;
  opacity: .75;
  filter: Alpha(Opacity=.75);
}

/* override jquery-ui dialog styles */

.ui-dialog {
  border: 1px solid $border-color;
  box-shadow: $modal_dropshadow;
  padding: 1em;
  
  .ui-widget-header {
    border: 0;
    border-bottom: 2px solid $border-color;
    background: #fff;
  }
  .ui-corner-all {
    border-radius: 0;
  }
  .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 1.5em;
    height: 1.5em;
    margin: -0.75em 0 0 0;
    padding: 1px;
  }
  .ui-dialog-title {
    float: left;
    margin: .1em 0;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
  }
  .ui-button {
    border: 0;
    background: none;
  }
}

// extend from bootstrap table, table-striped and small-table
.bcdReport {
  @extend .table, .table-striped, .table-sm;
}


/* tree */


.bcdTree {
  
  .bcdTreeInner {
    margin: 0 0 0 1.2em;
  }

 .highlight {
    background-color: #eeeeee !important;
    color: #000 !important;
  }

  .bcdExpand {
    @extend .fas;
    @extend .fa-plus-square;
    padding-right: 0.3em;
    cursor: pointer;
  }

  .bcdCollapse {
    @extend .fas;
    @extend .fa-minus-square;
    padding-right: 0.3em;
    cursor: pointer;
  } 

  tbody tr,
  tbody tr:nth-of-type(odd),
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
  }
  
  thead tr th {
    background-color: #ffffff;
    color: #000000;
    border-bottom: 1px solid #000;
    font-weight: bold;
  }
  
  tbody th,
  .bcdTree tbody td {
    font-weight: normal;
    border: none;
  }
  
  thead th.bcdMeasure,
  tbody td {
    text-align: right;
  }
  
  .bcdTreeRow > th {
    background-color: #ffffff;
    padding: 0;
  }
}

/* .bcdBlindUpDown .bcdHeadClosed > span.bcdBlindUpDownClose:after {
  content: "\25BC";
}
.bcdBlindUpDown .bcdHeadOpened > span.bcdBlindUpDownClose:after {
  content: "\25B2";
}
 */
.bcdSectionCaption {
  padding: 0;
  margin: 0 0 1em 0;
  position: relative;
  font-size:1.2em;
  font-weight:400;
  border-bottom:1px solid $sidebar-header-border-color;
  color: $sidebar-header-color 
}
.bcdBlindUpDownClose {
  position: absolute;
  right: 0;
}

.bcdActiveFilter .bcdSectionCaption:after {
  content: "*";
}

#bcdTooltipDiv .bcdScTooltip, .bcdScDndTooltip { max-width: 25em; table-layout: fixed;}
#bcdTooltipDiv .bcdCubeTooltip, .bcdCubeDndTooltip { max-width: 25em; table-layout: fixed;}

.bcdCubeHide {
  background-color: $text-disabled-color;
  z-index: $z-index-base;
  @include alpha(0.5);
}

/* ******************************************************************* */
/* select/button outline/selection coloring                            */
/* ******************************************************************* */
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: $corporate-color-alt;
  border-color: $corporate-color-alt;
}

select:focus option:checked {
  @include bcdSelected();
  background-image:  linear-gradient(0deg, $select-color 100%, $select-color 100%);
}

::selection {
  @include bcdSelected();
}
::-moz-selection {
  @include bcdSelected();
}

.bcdPeriodChooser input:focus,
.form-control:focus {
  box-shadow: $select-color 25% 0 0 0 0.2em !important;
  border-color: $corporate-color-alt;
  outline: 0;
}

/* ******************************************************************* */
/* sidebar font size                            */
/* ******************************************************************* */

.bcd__sidebar-right,
.bcd__sidebar-left {
  .bcd__form-container {
    font-size: $sidebar-font-size;
    .bcdButton, .bcdClearButton,
    input, select {
      font-size: $sidebar-font-size;
    }
  }

  label {
   margin-bottom: 0;
   color: $sidebar-header-color;
  }

  h1, h2 {
    border-bottom-color: $sidebar-header-border-color;
  }
}

.home-card a:hover {
  text-decoration: none;
}



/* ******************************************************************* */
/* docUploader */
/* ******************************************************************* */

.bcdDocUploader {
  .bcdDropArea {
    width: 24em;
    padding: 1em; 
    text-align: center; 
    border: 2px solid #d8d8d8; 
    border-radius: .5em;
    color: #555; 
    margin: 0 .3em .3em 0;
    position: relative;
  }

  .bcdDropNow {
    background-color: #555 !important;
    color: #FFF !important;
  }
  
  .category {
    >.title { color: #aa0000; font-weight: bold; font-size: 1.4em; }
  }

  .action:after          { font-family: "Font Awesome 5 Free", sans-serif; font-weight: 600; }
  .action.download:after { content: "\f56d"; }
  .action.view:after     { content: "\f06e"; }
  .action.delete:after   { content: "\f2ed"; }

  .pointer_true          { cursor: pointer; }
  .def_true              { background-color: #ffffff; }
  .def_false             { background-color: #F6F6F6; }
  .def_false.req_false   { background-color: #fae8e8; }
  .def_true .fileType .icon:before  { color: #aa0000; }
  .def_false .fileType .icon:before { color: #aaaaaa; }

  .icon:before           { font-family: "Font Awesome 5 Free", sans-serif; font-weight: 600; width: 1.2em; display: inline-block; }
  .fileType .icon:before { font-size: 2em; padding-right: 0; }

  .comment.icon:before, .info .icon:before { font-size: 1em; padding-right: .3em; }

  .icon.def_true:before  { content: "\f15b"; }
  .icon.def_false:before { content: "\f574"; }
  .icon.pdf:before       { content: "\f1c1"; }
  .icon.doc:before       { content: "\f1c2"; }
  .icon.docx:before      { content: "\f1c2"; }
  .icon.xls:before       { content: "\f1c3"; }
  .icon.xlsx:before      { content: "\f1c3"; }
  .icon.txt:before       { content: "\f15c"; }
  .icon.gif:before       { content: "\f1c5"; }
  .icon.png:before       { content: "\f1c5"; }
  .icon.jpeg:before      { content: "\f1c5"; }
  .icon.svg:before       { content: "\f1c5"; }
  .icon.ppt:before       { content: "\f1c4"; }
  .icon.csv:before       { content: "\f6dd"; }
  .icon.zip:before       { content: "\f1c6"; }
  .icon.ts:before        { content: "\f017"; }
  .icon.user:before      { content: "\f007"; }
  .icon.comment:before   { content: "\f075"; }
  .icon.fileName:before  { content: "\f15c"; }
  .icon.fileSize:before  { content: "\f013"; }

  .actions {
    position: absolute; top: -1em; right: 0em; color: #000;
    a { color: #000; }
    span:hover {
      cursor: pointer;
      background-color: #555;
      color: #fff;
    }
    span {
      display: inline-block;
      margin: 0 .3em 0 0;
      background-color: #ffffff;
      border: 1px solid #555;
      border-radius: 1em;
      padding: .25em;
      width: 2em;
      height: 2em;
    }
  }

  .small { font-size: .8em; }
  .docUploaderContainer { display: flex; }
  .commentinput { resize: none; }

  .row { margin: 0 0 0 0; padding: 0; width: 100%; text-align: left; }
  .row.comment { align-items: center; }
  .row.main { pointer-events: none; min-height: 5em;}

  .col { margin: 0 .3em 0; padding: 0; }
  .col:last-child { margin: 0; }
  .col.fileType { flex: 0 0 10%; }
  .col.title { flex: 0 0 40%; }
  .col.info { word-break: break-all;}
}

/* ******************************************************************* */
/* comment widget */
/* ******************************************************************* */

.bcdComment {
  .row { margin: 0 0 .3em 0; padding: 0; align-items: center; }
  .col { margin: 0 .3em 0 0; padding: 0; white-space: normal;}
  .col:last-child { margin: 0; }
  .row:last-child { margin: 0; }
  .col.add { flex: 0 0 5em; }
  .body { white-space: normal; }

  .commentContainer {
    background-color: #fff;
    padding: 1em;
    border: 1px solid #aaa;
    border-radius: 1em;
    margin-bottom: .3em;
  }

  .edit { flex: 0 0 1em; }
  .edit, .user { text-align: right; }
  .icon:before           { font-family: "Font Awesome 5 Free", sans-serif; font-weight: 600; padding-right: .3em; }
  .icon.ts:before        { content: "\f017"; }
  .icon.user:before      { content: "\f007"; }
  .icon.edit:before      { content: "\f044"; cursor: pointer; }
}

/* ******************************************************************* */
/* fixed header */
/* ******************************************************************* */

.bcdOrigTableHolder {
  max-height: 40em;
  overflow-y: auto;
  padding-right: .5em;
}
.bcdTableHeadHolder {
  position: relative;
}
.bcdCloneTableHolder {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: 0;
}
.bcdCloneTableHolder .bcdReport{
  margin-bottom: 0;
}

/* ******************************************************************* */
/* chips */
/* ******************************************************************* */

$chips-text-color:  #3c5b7b !default;
$chips-background-color:  #eceff2 !default;
$chips-close-color: #c00 !default;

.bcdChipChooser {
  
  position: relative;
  
  ul { padding: 0; max-height: 10em; background-color: inherit; border: none; }
  .bcdLower {
    height: 10em;
    .bcdLoading {width: 1em; height: 1em;}
  }

  .bcdLowerContainer { position: absolute; z-index: $z-index-autocomplete; width: 100%; }

  .bcdMiddle {
    span {
      position: relative; cursor:pointer;
      &:after {
        font-family: 'Font Awesome 5 Free', sans-serif;
        font-weight: bold;
        color: #3c5b7b;
        margin-left: .3em;
        position: absolute;
        right: 1em;
        padding-top: .5em;
      }
      input {
        padding-right: 2em;
        display: inline-block;
      }
    }
    .bcdDown:after { content: "\f078"; }
    .bcdUp:after { content: "\f077";}
   }

  .bcdUpper {
    li { margin: 0.3em; display: inline-block; }

    .bcdConnectableHover,
    .ui-selecting,
    .ui-selected {
      background-color: inherit !important;
      .bcdItem,
      .bcdCloseItem:after { background-color: $chips-text-color; color: $chips-background-color; }
    }

    .bcdItem {
      padding: 0.1em 0.4em;
      border: 1px solid $chips-text-color;
      display: inline-block;
      background-color: $chips-background-color;
      color: $chips-text-color;
      border-radius: 1em;
      cursor: default;
    }

    .bcdCloseItem {
      &:hover:after { color: $chips-close-color; }
      &:after {
        cursor: pointer;
        content: "\f00d";
        font-style: normal;
        font-family: 'Font Awesome 5 Free', sans-serif;
        font-weight: bold;
        color: $chips-text-color;
        margin-left: .3em;
      }
    }
    label {
      font-size: .8em;
      font-weight: normal;
      padding: 0 0 0 .3em;
      margin: 0;
    }
  }
  &.bcdSplit .bcdUpper {
    display: flex;
    text-align: right;
    border: 1px solid $border-color;
    .bcdLeft, .bcdRight {
      width: 50%;
    }
    .bcdConnectable {
      overflow-y: scroll;
      overflow-x: inherit;
    }
  }
}

.bcdReport.bcdStickyTable tfoot tr > *,
.bcdReport.bcdStickyTable thead tr > *,
.bcdReport.bcdStickyTable tbody tr:nth-of-type(even) > * { background-color: #ffffff; }
.bcdReport.bcdStickyTable tbody tr:nth-of-type(odd)  > * { background-color: #f2f2f2; }
.bcdReport.bcdStickyTable tbody tr>* { border: 1px solid $border-color; border-left-style: none; border-right-style: none; }
.bcdReport.bcdStickyTable thead tr>*, .bcdReport.bcdStickyTable tfoot tr>* { border: none !important; }

.bcdStickyContainer { scrollbar-width: thin; scrollbar-color: $border-color auto; }
.bcdStickyContainer::-webkit-scrollbar { width: .5em; height: .5em; }
.bcdStickyContainer::-webkit-scrollbar-corner,
.bcdStickyContainer::-webkit-scrollbar-track { background-color: transparent; }
.bcdStickyContainer::-webkit-scrollbar-thumb { background-color: $border-color; border-radius: 1em; }


.bcdStickyTable {
  position: relative;
  &.bcdStickyHead thead { z-index: 102; position: sticky; top: 0;}
  &.bcdStickyFoot tfoot { z-index: 102; position: sticky; bottom: 0; }
  &.bcdStickyFirstRow tbody tr:first-child { z-index: 102; position: sticky; }
  &.bcdStickyLastRow tbody tr:last-child { z-index: 102; position: sticky; }
  &.bcdStickyFirstColumn {
    tfoot tr, thead tr { *:first-child { z-index: 102; position: sticky; left: 0; } }
    tbody tr *:first-child { z-index: 100; position: sticky; left: 0; }
  }
  &.bcdStickyLastColumn {
    tfoot tr, thead tr { *:last-child { z-index: 102; position: sticky; right: 0; } }
    tbody tr *:last-child { z-index: 100; position: sticky; right: 0; }
  }
  .bcdStickyNthRow,
  tfoot .bcdStickyNthCol,
  thead .bcdStickyNthCol { z-index: 102; position: sticky; }
  tbody .bcdStickyNthCol { z-index: 100; position: sticky; }
}

.bcdVisualizeXml {
 .bcdCollapse:after { content: "-"; }
 .bcdExpand:after { content: "+"; } 
}

.bcduiHtmlEditor .bcdButton { margin: .5em .5em 0 0; }

.bcdHtmlPreview {
  a,
  a:active,
  a:focus,
  a:visited {
    color: #aaa;
    text-decoration: none;
  }
  a:hover { color: #000; }
  a:after { content: "\f06e"; font-family: "Font Awesome 5 Free", sans-serif; font-weight: 600; padding-right: 0.5em; }
}

.bcdCssReset { all: revert; }

.bcdHtmlViewerFooter {
  padding-top: 1em;
  border-top: 2px solid #dddddd;
  margin-top: .5em;
  .bcdButton.bcdDisabled {
     background-color: #aaa;
     border-color: #aaa;
  }
  .col:last-child { flex: 0; }
  .bcdCount { padding: 0 1em; }
}

.bcdHtmlPreview,
.bcdHtmlViewer { width: 640px; height: 240px; overflow-y: auto; }
.bcdCkEditorContainer { width: 640px; }

.bcdMessages.bcdCheckbox { text-align: center; }

.bcdInlineChart {
  > thead > tr > th { text-align: center; }
  td { text-align: left; } /* chart flyover */
  td.bcdChartCell { padding: 0; margin: 0; height: 6em; }
  td.bcdLegend { height: 8em; }
}

/* ******************************************************************* */
/* checkbox switch skin */
/* ******************************************************************* */

.bcdCheckbox.bcdSwitch {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  outline: none;
  content: none;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  width: 2em;
  height: 1em;
  background-color: inherit;

  & + label {
    vertical-align: middle;
    display: inline-block;
    margin: 0 0 0 .4em;
  }

  &:after {
    content: "\f204";
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: bold;
    font-size: 1.75em;
    color: $select-color;
    vertical-align: middle;
  }

  &:checked:after {
    content: "\f205";
  } 
}

/* ******************************************************************* */
/* single select panel skin */
/* ******************************************************************* */

.bcdRadioItem {
  label, input {
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
  }
  label { padding: 0px 8px 0px 3px; }
  input { padding: 0; } 
}

.bcdSingleSelect.bcdSwitch .bcdRadioItem {
  input:after {display: none;}
  input:focus,
  input {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
    width: 0;
    height: 0;
    box-shadow: none;
  }

  border: 0;
  padding: 0;
  margin: 0;
  display: inline-block;
  @extend .noselect;

  label { padding: .3em .5em; margin: 0; cursor: pointer; border:  1px solid $select-color; border-radius: 0;} 
  input:checked ~ label { background-color: $select-color !important; color: $text-color-bright !important; }
  &:first-child input ~ label { border-right: none; border-left:  1px solid $select-color; border-radius: .5em 0 0 .5em; }
  &:last-child  input ~ label { border-left: none;  border-right: 1px solid $select-color; border-radius: 0 .5em .5em 0; }
}

/* ******************************************************************* */
/* input color */
/* ******************************************************************* */

input[type='color'] { width: 3em; height: 2em; padding: .1em .3em; margin: 0;}

/* ******************************************************************* */
/* hierarchy */
/* ******************************************************************* */

.bcdHierarchy {

  background-color: #ffffff;

  i {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: .1em;

    &:after {
      font-family: 'Font Awesome 5 Free', sans-serif;
      font-weight: bold;
      font-style: normal;
      color: #495057;
      margin-left: .3em;
      position: absolute;
      right: 1em;
      top: .4em;
      padding: 0;
    }
  }

  .bcdFind:after  { content: "\f002"; cursor: default; }
  .bcdDown:after  { content: "\f078"; }
  .bcdUp:after    { content: "\f077"; }
  .bcdClear:after { content: "\f00d"; color: $text-disabled-color; right: 2.5em; }

  ul {
    margin: 0;
    padding: 0 0 0 1em;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;
    
    input[type='checkbox'] {
      margin: 0 .3em 0 0;
      cursor: pointer;
      vertical-align: middle;
    }

    label {
      cursor: pointer;
      vertical-align: middle;
      margin: 0;
      padding: 0;

      &:hover { font-weight: bold; }
    }

    .bcdHideItem label:hover, .bcdHideParent label:hover { font-weight: normal; }
  }

  .bcdLower { height: auto; }

  .bcdItems {
    overflow: auto;
    height: 20em;
    padding: 0;
    margin: 0;
    user-select: none;

    > ul { padding: 0; }

    .bcdHideItem label, .bcdHideItem input { display: none; }
    .bcdParent               > span.bcdHideItem label { color: $text-disabled-color; display: inline-block; }
    .bcdParent.bcdHideParent > span.bcdHideItem label { display: none; }
  }

  .bcdFooter {
    text-align: right;
    padding: .3em;
    font-size: .8em;

    .bcdButton { margin: 0 0 0 .3em; padding: .2em .6em; }
  }

  .bcdHeader, .bcdSearch {
    vertical-align: middle;
    position: relative;
  }
  
  .bcdSearchCount {
    padding-right: 0 !important;
    input { padding-right: 3.5em; }
  }
  .bcdSearchCount, .bcdCount {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    padding-right: 1em;
  }
}
