// Typografic Elements

html, body {
  font:300 17px/1.4 $font-family-default;
  color:$text-color;
}


.padded {
  margin: 1em 0 0 1em;
}

h1 {
  font:600 1.6em/1.4 $font-family-default;
  color:$corporate-color;
  margin-bottom:0.3em;
  strong {
    font-weight:600;
    color:$corporate-color-alt;
  }
}
h2 {
  font-size:1.2em;
  font-weight:400;
  border-bottom:1px solid $corporate-color;
  margin-bottom:1.6em;
}
