// Font
// =======================================

$font-family-default:           'Titillium Web', sans-serif !default;
$font-size-small:               0.5em !default; // TODO: use this one, instead of any other inividual absolute sizes
$text-color:                    #555 !default;
$text-color-dark:               #555 !default;
$text-color-bright:             #FFFFFF !default;
$text-contrast-break:           60 !default;
$text-disabled-color:           #d8d8d8 !default;

// zIndex
// =======================================

$z-index-base:                  110 !default; // handsontable grid starts at 101 (and uses some for higher ones for differnt layers), so we start a bit higher
$z-index-flyover:               $z-index-base + 10 !default;
$z-index-autocomplete:          $z-index-flyover + 10 !default; // calc editor in cube got an autocompletion box in a modal flyover
$z-index-balloon:               $z-index-base + 10 !default;    // widget balloons

// Border 
// ========================================

$border-color:                  #d8d8d8 !default;
$border-color-dark:             darken($border-color, 10%) !default;
$border-color-bright:           lighten($border-color, 10%) !default;
$border-radius-default:         .25em !default;
$border-radius-small:           $border-radius-default !default;

// Sidebar
// =======================================

$sidebar-width:                 17em !default;
$sidebar-width-offset:          -($sidebar-width - 2.5em) !default;
$sidebar_background:            #fff !default;
$sidebar-font-size:             0.9em !default;
$sidebar-header-color:          $text-color-dark !default;
$sidebar-header-border-color:   $border-color !default;

// Colors 
// ========================================

$corporate-color:               #369AFB !default;
$corporate-color-alt:           #161669 !default;

$menu-text-color:               $text-color-dark !default;
$menu-border-color:             $border-color !default;

$content-background-color:      #f6f6f6 !default;
$login-background-color:        #f6f6f6 !default;
$headline-color:                #999999 !default;

$modal_dropshadow:              0 3px 30px rgba(0,0,0,.2) !default;

$invalid-color:                 #F0A0A0 !default;
$select-color:                  $corporate-color !default;
$connectable-hover:             #E1EDF9 !default;
$control-color:                 #F8F8F8 !default;
$calendar-color:                $border-color !default;
$button-color:                  $corporate-color !default;
$secondary-button-color:        #6c757d !default;
$secondary-button-color-hover:  #212529 !default;

$flyover-color:                 #E8E8E8 !default;

$grid-action-color:             $corporate-color-alt !default;

// report and cube constants

$report-color-ok:               #008000 !default;
$report-color-warn:             #00FF00 !default;
$report-color-fail:             #FF0000 !default;

$cube-color-item:               #f6f6f6 !default;
$cube-sections-color-head:      $corporate-color !default;

$cube-color-cell:               #D9D9D9 !default;
$cube-color-cell-total:         #ffffff !default;
$cube-color-cell-total-text:    $corporate-color-alt !default;
$cube-color-cell-even:          lighten($cube-color-cell, 8%) !default;
$cube-color-cell-odd:           lighten($cube-color-cell, 15%) !default;

// some tree constants
$tree-color-cell:               $cube-color-cell-total !default;
$tree-color-cell-leaf:          $cube-color-cell-odd !default;
$tree-color-cell_l1:            lighten($tree-color-cell, 25%) !default;
$tree-color-cell_l2:            lighten($tree-color-cell, 35%) !default;
$tree-color-cell_l3:            lighten($tree-color-cell, 45%) !default;
$tree-color-cell-border:        darken($tree-color-cell, 25%) !default;

// DE grid compatibility
$font-size-default:             11px !default;
$cube-hover-color-body:         $cube-sections-color-head !default;
$grid-color-cell:               #d8d8d8 !default;
$grid-hover-color-body:         $corporate-color !default;
$grid-hover-color-border:       darken($cube-hover-color-body, 25%) !default;
$grid-color-cell-even:          lighten($grid-color-cell, 8%) !default;
$grid-color-cell-odd:           lighten($grid-color-cell, 15%) !default;


// alerter
$alerter-warn: rgb(255, 170, 0) !default;
$alerter-info: rgb(200,200,200) !default;
$alerter-error: rgb(255, 87, 0) !default;
$alerter-success: rgb(101, 208, 116) !default;
