// global variables
@import "_variables.scss";
@import "_mixins.scss";

// Overrides
$primary:                         $corporate-color;
$fa-font-path:                    "../vendor/fontawesome-free-5.8.1-web/webfonts";

// BootStrap
@import "../vendor/bootstrap-4.3.1/scss/bootstrap.scss";

// FontAwesome Basic
@import "../vendor/fontawesome-free-5.8.1-web/scss/fontawesome.scss";
@import "../vendor/fontawesome-free-5.8.1-web/scss/solid.scss";
// FontAwesome For Login buttons
@import "../vendor/fontawesome-free-5.8.1-web/scss/brands.scss";

// Theme components
@import "_fonts.scss";
@import "_typography.scss";
@import "_frame.scss";
@import "_frame_login.scss";
@import '_slider.scss';
@import '_slider_time.scss';

// animated hamburger support
$hamburger-padding-x           : .195em .2em;
$hamburger-padding-y           : .4em .195em;
$hamburger-layer-width         : 1em;
$hamburger-layer-height        : .25em;
$hamburger-layer-spacing       : .18em;
$hamburger-layer-color         : #6c757d;
$hamburger-layer-border-radius : .15em;
$hamburger-hover-opacity       : 1;
@import "../vendor/hamburgers/hamburgers.scss";

// widgets, components, etc
@import "_styles.scss";
