<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright 2010-2017 BusinessCode GmbH, Germany

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!--
  Sample context xml for tomcat
-->
<Context seeAttributesBelow="">
  <!-- For development use: <Context reloadable="true"  antiJARLocking="false" antiResourceLocking="false" cachingAllowed="false">, this allows live updating of content -->
  <!-- For production use:  <Context reloadable="false" antiJARLocking="true"  antiResourceLocking="true">, this allows easy re-deploy -->

  <!-- Disable cache means, configuration files keep being read every time  -->
  <Environment name="bcdui/disableCache" type="java.lang.Boolean" value="false"/>

  <!-- If no connection name is given in a binding set (bnd:BindingSet/@dbSourceName), this one is used -->
  <Environment name="bcdui/defaultConnection" type="java.lang.String" value="jdbc/connectionXX"/>

  <!-- Some sample DB connections. Replace all values with XX in their name -->

  <!-- Sample for Oracle
  <Resource name="jdbc/connectionXX"
    auth="Container"
    type="javax.sql.DataSource"
    maxActive="200"
    maxIdle ="-1"
    maxWait="200"
    logAbandoned="true"
    removeAbandoned="true"
    validationQuery="select sysdate from dual"
    testOnBorrow="true"
    driverClassName="oracle.jdbc.OracleDriver"
    connectionProperties="defaultRowPrefetch=100;"
    initConnectionSqls="ALTER SESSION SET NLS_SORT='BINARY' NLS_DATE_FORMAT='YYYY-MM-DD HH24:MI:SS' NLS_TIMESTAMP_FORMAT='YYYY-MM-DD HH24:MI:SS.FF'"
    url="jdbc:oracle:thin:@serverXX:1521:dbInstanceXX"
    username="XX"
    password="XX" />
  -->

  <!-- Sample for MSSqlServer
  <Resource name="jdbc/connectionXX"
    auth="Container"
    type="javax.sql.DataSource"
    maxActive="10"
    maxIdle ="5"
    maxWait="15000"
    logAbandoned="true"
    removeAbandoned="true"
    validationQuery="select 1"
    testOnBorrow="true"
    driverClassName="net.sourceforge.jtds.jdbc.Driver"
    url="jdbc:jtds:sqlserver://serverXX:1433/dbnameXX"
    username="XX"
    password="XX" />
  -->

  <!-- Sample for PostgreSQL
  <Resource name="jdbc/bcduitestpostgres"
    auth="Container"
    type="javax.sql.DataSource"
    maxActive="10"
    maxIdle ="5"
    maxWait="15000"
    driverClassName="org.postgresql.Driver"
    url="jdbc:postgresql://postgresserver:5432/dbNameXX"
    username="XX"
    password="XX" />
  -->

  <!-- Sample for MySql
     Not fully supported, for example no col-totals in cube due to missing grouping sets
     and no partitioning (row-from-to reading) due to missing ranking functionality
  <Resource name="jdbc/connectionXX"
    auth="Container"
    type="javax.sql.DataSource"
    maxActive="10"
    maxIdle ="5"
    maxWait="15000"
    driverClassName="com.mysql.jdbc.Driver"
    url="jdbc:mysql://serverXX:3306/dbnameXX?sessionVariables=sql_mode='NO_BACKSLASH_ESCAPES,ANSI'"
    username="XX"
    password="XX" />
  -->

  <WatchedResource>WEB-INF/web.xml</WatchedResource>
</Context>