<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright 2010-2022 BusinessCode GmbH, Germany

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!--
  BCD-UI sample context xml for tomcat
  - Values in ${} need to be set. Either replace them with their values or set system properties to Tomcat's runtime like
     -Dmyproj_bcdui_disableCache=false
     -Dmyproj_db_url=SomeDbJdbcUrl
     -Dmyproj_db_username=SomeUsername
     -Dmyproj_db_password=SomePassword
  - Adjust removeAbandonedTimeout to the longest query allowed
  - for 8.5 and default data source see https://tomcat.apache.org/tomcat-8.5-doc/jndi-datasource-examples-howto.html
  - for 8.5 and org.apache.tomcat.jdbc.pool.DataSourceFactory see https://tomcat.apache.org/tomcat-8.5-doc/jdbc-pool.html
-->
<Context>
  <!-- For development use: <Context reloadable="true"  antiJARLocking="false" antiResourceLocking="false" cachingAllowed="false">, this allows live updating of content -->
  <!-- For production use:  <Context reloadable="false" antiJARLocking="true"  antiResourceLocking="true">, this allows easy re-deploy -->

  <!-- Prevent cross side cookie attacks (OWASP WSTG-SESS-05) -->
  <CookieProcessor sameSiteCookies="strict" />

  <!-- This controls how often dbProperties are read from database. 5 min is default -->
  <!-- Environment name="bcdui/config/dbProperties/reloadFrequencySeconds " type="java.lang.Integer" value="300"/ -->

  <!-- Logging to bcd_log_xxx in db is done async. You can fine tune how long it may be delayed max separately for XXX=access|error|login|session|sql.
       The values shown are the defaults (same for all) -->
  <!-- Environment name="bcdui/loggers/db/XXX/queueSize" type="java.lang.Integer" value="10"/>
  <Environment name="bcdui/loggers/db/XXX/queueSleepMs" type="java.lang.Long" value="10000"/ -->

  <!-- IIS has a limit also for http request URLs, i.e. data requests, set this flag to true to compress all data request -->
  <!-- Environment name="bcdui/serverHasRequestUrlLimit" type="java.lang.Boolean" value="false"/ -->

  <!-- Disabling cache means: Client files and configuration files keep being read every time, true is useful for development, false for production -->
  <Environment name="bcdui/disableCache" type="java.lang.Boolean" value="${myproj_bcdui_disableCache}"/>

  <!-- If no connection name is given in a binding set (bnd:BindingSet/@dbSourceName), this one of the ones below us used -->
  <Environment name="bcdui/defaultConnection" type="java.lang.String" value="jdbc/connectionXX"/>

  <!-- Some sample DB connections. Replace all values with XX in their name
    Attribute names are assuming recommended org.apache.tomcat.jdbc.pool.DataSourceFactory (Apache Java Database Connection Pool).
    From older data sources (Apache DBCP) migrate these: maxTotal, maxWaitMillis, removeAbandonedOnBorrow, connectionInitSqls to the names below -->

  <!-- Sample for Oracle
       -Dmyproj_db_url=jdbc:oracle:thin:@serverXX:1521:dbInstanceXX
  <Resource name="jdbc/connectionOracle"
    factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
    auth="Container"
    type="javax.sql.DataSource"
    maxActive="15"
    minIdle ="2"
    maxIdle ="5"
    maxWait="15000"
    logAbandoned="true"
    removeAbandoned="true"
    removeAbandonedTimeout="300"
    validationQuery="select 1 from dual"
    testOnBorrow="true"
    driverClassName="oracle.jdbc.OracleDriver"
    connectionProperties="defaultRowPrefetch=100;"
    initSQL="ALTER SESSION SET NLS_SORT='BINARY' NLS_DATE_FORMAT='YYYY-MM-DD HH24:MI:SS' NLS_TIMESTAMP_FORMAT='YYYY-MM-DD HH24:MI:SS.FF'"
    url="${myproj_db_url}"
    username="${myproj_db_username}"
    password="${myproj_db_password}" />
  -->

  <!-- Sample for MSSqlServer JDBC Driver 7
       -Dmyproj_db_url=jdbc:sqlserver://sqlserverXX:1433;databaseName=dbNameXX
  <Resource name="jdbc/connectionMSSqlserver"
    factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
    auth="Container"
    type="javax.sql.DataSource"
    maxActive="15" maxTotal="15"
    minIdle ="2"
    maxIdle ="5"
    maxWait="15000"
    logAbandoned="true"
    removeAbandoned="true"
    removeAbandonedTimeout="300"
    validationQuery="select 1"
    testOnBorrow="true"
    driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
    url="${myproj_db_url}"
    username="${myproj_db_username}"
    password="${myproj_db_password}" />
  -->

  <!-- Sample for PostgreSQL
       -Dmyproj_db_url=jdbc:postgresql://sqlserverXX:5432/dbNameXX?sslmode=require
  <Resource name="jdbc/connectionPostgres"
    factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
    auth="Container"
    type="javax.sql.DataSource"
    maxActive="15"
    minIdle ="2"
    maxIdle ="5"
    maxWait="15000"
    logAbandoned="true"
    removeAbandoned="true"
    removeAbandonedTimeout="300"
    validationQuery="select 1"
    testOnBorrow="true"
    driverClassName="org.postgresql.Driver"
    url="${myproj_db_url}"
    username="${myproj_db_username}"
    password="${myproj_db_password}" />
  -->

  <!-- Sample for MySql
     -Dmyproj_db_url=jdbc:mysql://serverXX:3306/dbnameXX?sessionVariables=sql_mode='NO_BACKSLASH_ESCAPES,ANSI'
  <Resource name="jdbc/connectionMySql"
    factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
    auth="Container"
    type="javax.sql.DataSource"
    maxActive="15"
    minIdle ="2"
    maxIdle ="5"
    maxWait="15000"
    logAbandoned="true"
    removeAbandoned="true"
    removeAbandonedTimeout="300"
    validationQuery="select 1"
    testOnBorrow="true"
    driverClassName="com.mysql.cj.jdbc.Driver"
    url="${myproj_db_url}"
    username="${myproj_db_username}"
    password="${myproj_db_password}" />
  -->
  <!-- Sample for Redshift
     -Dmyproj_db_url=jdbc:redshift://serverXX.redshift.amazonaws.com:5439/dbnameXX;ssl=true'
  <Resource name="jdbc/connectionRedshift"
    factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
    auth="Container"
    type="javax.sql.DataSource"
    maxActive="15"
    minIdle ="2"
    maxIdle ="5"
    maxWait="15000"
    logAbandoned="true"
    removeAbandoned="true"
    removeAbandonedTimeout="300"
    validationQuery="select 1"
    testOnBorrow="true"
    driverClassName="com.amazon.redshift.jdbc.Driver"
    url="${myproj_db_url}"
    username="${myproj_db_username}"
    password="${myproj_db_password}" />
  -->

  <WatchedResource>WEB-INF/web.xml</WatchedResource>
</Context>