/build/
/Client/build/
/Server/build/
/Docu/build/
/JspTaglib/build/
/ApisGenerator/build/
/Theme/build/

/docs/

/.idea/
/.gradle/
/gradle/wrapper/
/gradlew
/gradlew.bat

/Server/.classpath
/JspTaglib/.classpath
/Server/.gitignore
/JspTaglib/.gitignore
.project
.settings