**/build/
/.idea/
/.gradle/
**/.classpath
/Server/.gitignore
/JspTaglib/.gitignore
.project
.settings

# Mac
.DS_Store

# IntelliJ IDEA
.idea/*
!.idea/codeStyles
!.idea/inspectionProfiles
!.idea/runConfigurations
