<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2010-2022 BusinessCode GmbH, Germany

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!--
  Standard web.xml for BCD-UI 4 applications.
  -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>ProjectName</display-name>

  <!--
    BCD-UI 4 Filters
  -->

  <!-- filter for identifying requests from MS Office applications like Word or Excel to not redirect to login page, enable if needed -->
  <!--
  <filter>
    <filter-name>bcdui4.AvailabilityFilter</filter-name>
    <filter-class>de.businesscode.bcdui.web.filters.AvailabilityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>bcdui4.AvailabilityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->

  <!-- Security filter for authentication and authorization, see https://shiro.apache.org/configuration.html -->
  <filter>
    <filter-name>bcdui4.ShiroFilter</filter-name>
    <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>bcdui4.ShiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Overall BCD-UI request lifecycle handling -->
  <filter>
    <filter-name>bcdui4.RequestLifeCycleFilter</filter-name>
    <filter-class>de.businesscode.bcdui.web.filters.RequestLifeCycleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>bcdui4.RequestLifeCycleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Handle zipped guiStatus and request documents -->
  <filter>
    <filter-name>bcdui4.UnZipFilter</filter-name>
    <filter-class>de.businesscode.bcdui.web.filters.UnZipFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>bcdui4.UnZipFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Explicitly disable caching in general to fix unwanted IE behaviors -->
  <filter>
    <filter-name>bcdui4.ClientCachingFilter_NoCache</filter-name>
    <filter-class>de.businesscode.bcdui.web.cacheControl.ClientCachingFilter</filter-class>
    <init-param>
      <param-name>CacheRequestDirective</param-name>
      <param-value>no-cache; no-store</param-value>
    </init-param>
    <init-param>
      <param-name>ExcludeExtensions</param-name>
      <param-value>slk</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>bcdui4.ClientCachingFilter_NoCache</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--
    Client-side caching
    Per default until midnight. For development, set bcdui/disableCache=true in context.xml
    Expiry samples: ExpiresAbsTime 00:00:00 (every day midnight) / ExpiresAbsDow Sun-20 (every Sunday 20:00) / ExpiresRelDays 2 (always after 2 *24h)
    ExcludeUrls: Space separated 'starts-with' of the path like /bcdui/bcdui.js. End folders with a /: /myFolder/
    ExcludeExtensions: Space separated extensions ('ends-with') like .vfsxml.
  -->
  <filter>
    <filter-name>bcdui4.ClientCachingFilter</filter-name>
    <filter-class>de.businesscode.bcdui.web.cacheControl.ClientCachingFilter</filter-class>
    <init-param>
      <param-name>ExpiresAbsTime</param-name> <!-- See doc for other values -->
      <param-value>00:00:00</param-value>
    </init-param>
    <!--
      Exclude content of virtual file system and other stuff here, if needed (space separated)
      At least /bcdui/servlets/config.js and /bcdui/servlets/ must never be cached.
      Also exclude any keep-alive addresses and of course data.
      If you do any user-dependent activity, make sure they are also excluded from caching.
      -->
    <init-param>
      <param-name>ExcludeUrls</param-name>
      <param-value>/bcdui/servlets/ /vfs/ /bcdui/bcdui.js</param-value> <!-- Space separated. make sure to append /, otherwise it will also match to servletCached -->
    </init-param>
    <init-param>
      <param-name>ExcludeExtensions</param-name>
      <param-value>.jsp .html</param-value> <!-- Let deep links lead to a server request, which may in turn redirect to login -->
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>bcdui4.ClientCachingFilter</filter-name>

    <!-- For production environment:
      Do not cache all /* unless we are sure that *.jsp can be cached and row-level security is not used, always exclude /bcdui/servlets/ and /bcdui/bcdui.js (done above) -->
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.xslt</url-pattern>
    <url-pattern>*.xml</url-pattern>
    <url-pattern>*.dott</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.gif</url-pattern>
    <url-pattern>*.svg</url-pattern>
    <url-pattern>*.ico</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.woff2</url-pattern>

    <!-- Cache only content, which is not user dependent (for example no row-level security) -->
    <url-pattern>/bcdui/servletsCached/*</url-pattern>
    <url-pattern>/bcdui/servletsSessionCached/*</url-pattern>
  </filter-mapping>

  <!-- Allows for client-side caching depending on scopes maintained in bcd_cache_scope -->
  <!-- filter>
    <filter-name>bcdui4.DataModifiedFilter</filter-name>
    <filter-class>de.businesscode.bcdui.web.cacheControl.DataModifiedFilter</filter-class>
    <init-param>
      <param-name>SCOPES_REFRESH_PERIOD_MS</param-name>
      <param-value>30000</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>bcdui4.DataModifiedFilter</filter-name>
    <url-pattern>/bcdui/servlets/*</url-pattern>
  </filter-mapping -->

  <!--
    BCD-UI Standard servlets
  -->
  <!-- Serves static resources from bcdui jar and vfs -->
  <servlet>
    <servlet-name>bcdui4.StaticResourceServlet</servlet-name>
    <servlet-class>de.businesscode.bcdui.web.servlets.StaticResourceServlet</servlet-class>
    <init-param>
      <param-name>vfsFileExtensions</param-name> <!-- Extensions that can be overwritten in vfs -->
      <param-value>xml txt vfsxml pdf png gif jpg jpeg svg doc docx xls xlsx csv zip</param-value>
    </init-param>
  </servlet>
  <!-- Add any URL for the virtual file system here -->
  <servlet-mapping>
    <servlet-name>bcdui4.StaticResourceServlet</servlet-name>
    <url-pattern>/bcdui/*</url-pattern>
    <url-pattern>/vfs/*</url-pattern>
    <url-pattern>*.vfsxml</url-pattern>
  </servlet-mapping>

  <!-- I18nServlet -->
  <servlet>
    <servlet-name>bcdui4.I18nServlet</servlet-name>
    <servlet-class>de.businesscode.bcdui.web.i18n.I18nServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bcdui4.I18nServlet</servlet-name>
    <url-pattern>/bcdui/servlets/I18nServlet/*</url-pattern>
    <url-pattern>/bcdui/servletsCached/I18nServlet/*</url-pattern>
    <url-pattern>/bcdui/servletsSessionCached/I18nServlet/*</url-pattern>
  </servlet-mapping>

  <!-- allows setting user permissions from bcdui\conf\subjectPreferences.xml -->
  <servlet>
    <servlet-name>bcdui4.SubjectPreferences</servlet-name>
    <servlet-class>de.businesscode.bcdui.web.servlets.SubjectPreferences</servlet-class>
    <init-param>
      <param-name>cookieMaxAge</param-name>
      <param-value>31536000</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>bcdui4.SubjectPreferences</servlet-name>
    <url-pattern>/bcdui/servlets/SubjectPreferences/*</url-pattern>
  </servlet-mapping>

<!--  Data Upload Servlet
  <servlet>
    <servlet-name>bcdui4.DataUploadServlet</servlet-name>
    <servlet-class>de.businesscode.bcdui.upload.data.UploadServlet</servlet-class>
    <init-param>
      <param-name>Steps</param-name>
      <param-value>
        MY_STEP_NAME: de.my.package.ClassName;
      </param-value>
    </init-param
  </servlet>
   <servlet-mapping>
    <servlet-name>bcdui4.DataUploadServlet</servlet-name>
    <url-pattern>/bcdui/servlets/DataUploadServlet/*</url-pattern>
  </servlet-mapping> 
-->

  <!-- Evaluates and executes WrsRequests to the database -->
  <servlet>
    <servlet-name>bcdui4.WrsServlet</servlet-name>
    <servlet-class>de.businesscode.bcdui.web.wrs.WrsServlet</servlet-class>
    <init-param>
      <param-name>MaxRows</param-name>
      <param-value>15000</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>bcdui4.WrsServlet</servlet-name>
    <url-pattern>/bcdui/servlets/WrsServlet/*</url-pattern>
    <url-pattern>/bcdui/servletsCached/WrsServlet/*</url-pattern>
    <url-pattern>/bcdui/servletsSessionCached/WrsServlet/*</url-pattern>
  </servlet-mapping>

  <!-- Export in csv format, efficient, common but with issues in combination with Excel and data formats -->
  <servlet>
    <servlet-name>bcdui4.CsvServlet</servlet-name>
    <servlet-class>de.businesscode.bcdui.web.wrs.CsvServlet</servlet-class>
    <init-param>
      <param-name>MaxRows</param-name>
      <param-value>65000</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>bcdui4.CsvServlet</servlet-name>
    <url-pattern>/bcdui/servlets/CsvServlet/*</url-pattern>
    <url-pattern>/bcdui/servletsCached/CsvServlet/*</url-pattern>
    <url-pattern>/bcdui/servletsSessionCached/CsvServlet/*</url-pattern>
  </servlet-mapping>

  <!-- Export in sylk format, efficient and data type save -->
  <servlet>
    <servlet-name>bcdui4.SylkServlet</servlet-name>
    <servlet-class>de.businesscode.bcdui.web.wrs.SylkServlet</servlet-class>
    <init-param>
      <param-name>MaxRows</param-name>
      <param-value>65000</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>bcdui4.SylkServlet</servlet-name>
    <url-pattern>/bcdui/servlets/SylkServlet/*</url-pattern>
    <url-pattern>/bcdui/servletsCached/SylkServlet/*</url-pattern>
    <url-pattern>/bcdui/servletsSessionCached/SylkServlet/*</url-pattern>
  </servlet-mapping>

  <!-- Export in native Excel format, less efficient -->
  <servlet>
    <servlet-name>bcdui4.ExcelExportServlet</servlet-name>
    <servlet-class>de.businesscode.bcdui.web.wrs.ExcelExportServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>bcdui4.ExcelExportServlet</servlet-name>
    <url-pattern>/bcdui/servlets/ExcelExportServlet/*</url-pattern>
    <url-pattern>/bcdui/servletsCached/ExcelExportServlet/*</url-pattern>
    <url-pattern>/bcdui/servletsSessionCached/ExcelExportServlet/*</url-pattern>
  </servlet-mapping>

  <!-- Per page request context information -->
  <servlet>
    <servlet-name>bcdui4.BCDUIConfig</servlet-name>
    <servlet-class>de.businesscode.bcdui.web.servlets.BCDUIConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bcdui4.BCDUIConfig</servlet-name>
    <url-pattern>/bcdui/bcdui.js</url-pattern>
  </servlet-mapping>

  <!-- Capable of zipping and unzipping guiStatus, Wrs and other documents -->
  <servlet>
    <servlet-name>bcdui4.ZipLet</servlet-name>
    <servlet-class>de.businesscode.bcdui.web.servlets.ZipLet</servlet-class>
    <init-param>
      <param-name>maxTinyUrlAge</param-name>
      <param-value>-1</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>bcdui4.ZipLet</servlet-name>
    <url-pattern>/bcdui/servlets/ZipLet</url-pattern>
  </servlet-mapping>

  <!-- For logging of client-side exception -->
  <servlet>
    <servlet-name>bcdui4.FrontendLogTransceiver</servlet-name>
    <servlet-class>de.businesscode.bcdui.web.clientLogging.FrontendLogTransceiver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bcdui4.FrontendLogTransceiver</servlet-name>
    <url-pattern>/bcdui/servlets/FrontendLogTransceiver</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>bcdui4.MenuServlet</servlet-name>
    <servlet-class>de.businesscode.bcdui.menu.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bcdui4.MenuServlet</servlet-name>
    <url-pattern>/bcdui/servlets/Menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bcdui4.CacheManager</servlet-name>
    <servlet-class>de.businesscode.bcdui.web.servlets.CacheManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bcdui4.CacheManager</servlet-name>
    <url-pattern>/bcdui/servlets/CacheManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bcdui4.WrsNextIdentifierServlet</servlet-name>
    <servlet-class>de.businesscode.bcdui.web.wrs.WrsNextIdentifierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bcdui4.WrsNextIdentifierServlet</servlet-name>
    <url-pattern>/bcdui/servlets/WrsNextIdentifierServlet/*</url-pattern>
  </servlet-mapping>

  <!-- WYSIWYG Excel export Servlet -->
  <!-- PLEASE NOTE: Consider setting maxPostSize in your server config -->
  <servlet>
    <servlet-name>bcdui4.Html2ExcelServlet</servlet-name>
    <servlet-class>de.businesscode.bcdui.toolbox.MirrorServlet</servlet-class>
    <init-param>
      <param-name>header:Content-Type</param-name>
      <param-value>application/vnd.ms-excel</param-value>
    </init-param>
    
    <!-- set this to true if your server.xml connector is not using UTF-8 URIEncoding, otherwise set it to false -->
     <init-param>
      <param-name>EncodeUTF8</param-name>
      <param-value>true</param-value>
    </init-param>

  </servlet>
  <servlet-mapping>
    <servlet-name>bcdui4.Html2ExcelServlet</servlet-name>
    <url-pattern>/bcdui/servlets/Html2ExcelServlet/*</url-pattern>
  </servlet-mapping>

  <!-- Session listener for session logging -->
  <listener>
    <listener-class>de.businesscode.bcdui.web.SessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
  </listener>
  <!-- Init code for BCD-UI server side components -->
  <listener>
    <listener-class>de.businesscode.bcdui.web.BcdUiApplicationContextListener</listener-class>
  </listener>

  <!-- This listener must be present when EHCache is used, because EHCache registers
       a thread which keeps the application from shutting down
       EHcache is for example used by shiro, check your web.xml -->
  <listener>
    <listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
  </listener>

  <!-- i18n configuration -->
  <env-entry>
    <description>Default context language</description>
    <env-entry-name>bcdui/i18n/default/lang</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>en</env-entry-value>
  </env-entry>

  <!--
    This timeout is also used by shiro's default web session manager
    Also we close various cookie security holes. (OWASP WSTG-SESS-02, -04, -07, -09)
  -->
  <session-config>
    <session-timeout>30</session-timeout>
    <cookie-config>
      <http-only>true</http-only>
      <secure>true</secure>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>

</web-app>